@page "/MustBeLoggedInToView"
@attribute [Authorize]

<h3>Must Be Logged In To View</h3>

<p>Que pasa weey !!</p>
<img class="oi-image" src="img/wassupn.jpg" style="width: 400px; height: auto;" />

@code {
    
}