/* styles.css */

.post-container-single {
    border: 2px solid #2b2b2b;
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.post-content {
    font-size: 16px;
    color: #555;
}

.post-info {
    font-size: 14px;
    color: #888;
}

/* styles.css */
.close-button {
    background-color: #f44336; /* Red background color */
    color: white;             /* White text color */
    border: none;             /* No border */
    padding: 10px 20px;       /* Padding around the button text */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
