<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Assigment 3</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ViewPosts">
                <span class="oi oi-list-rich" aria-hidden="true"></span> View Posts
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CreatePost">
                <span class="oi oi-pencil" aria-hidden="true"></span> Create Post
            </NavLink>
        </div>
         <div class="nav-item px-3">
             <NavLink class="nav-link" href="MustBeLoggedInToView">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Must Be Logged In
             </NavLink>
         </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}